.pagina_respuesta {
  display: grid;
  grid-template-areas:
    "pregunta"
    "respuestas"
    "formulario";
  grid-template-columns: 95%;
}
.pregunta_listado_respuesta {
  margin: 1rem;
  grid-area: pregunta;
}

.infoPregunta {
  border-bottom: 1px solid grey;
  grid-area: pieRespuesta;
  display: flex;
  justify-content: flex-end;
}

.infoPregunta div {
  padding: 0rem 0.5rem;
}

.pregunta_listado_respuesta article {
  padding: 0.5rem;
}
.pregunta_listado_respuesta article h2 {
  padding: 0.5rem;
}

.arrayRespuestas {
  grid-area: respuestas;
}
.formulario_respuesta {
  grid-area: formulario;
  display: flex;
  justify-content: center;
  margin: 2rem 0rem;
}
.formulario_respuesta h2 {
  font-size: 1rem;
  margin: 1rem 0rem;
}
