.estilo_respuesta {
  list-style: none;
  border-bottom: 1px solid grey;
  min-width: 600px;
}
.contenido_respuestas {
  display: grid;
  grid-template-areas:
    "voto contenido"
    "pieRespuesta pieRespuesta";
  grid-template-columns: 5% 95%;
}

.contenido_voto {
  grid-area: voto;
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.textoContenido {
  grid-area: contenido;
  padding: 0.5rem;
}

.textoContenido p {
  overflow: hidden;
}

.infoRespuesta {
  grid-area: pieRespuesta;
  display: flex;
  justify-content: flex-end;
}

.infoRespuesta time {
  padding: 0rem 0.5rem;
}

.voto_positivo {
  width: 2rem;
  filter: invert(0.75) sepia(1) saturate(10) hue-rotate(45deg);
}

.voto_positivo:active {
  width: 2rem;
  filter: invert(0.5) sepia(1) saturate(10) hue-rotate(45deg);
}

.voto_negativo {
  width: 2rem;
  filter: invert(0.5) sepia(0.6) saturate(5) hue-rotate(320deg);
  transform: rotate(180deg);
}

.voto_negativo:active {
  width: 2rem;
  filter: invert(0.3) sepia(0.6) saturate(5) hue-rotate(320deg);
  transform: rotate(180deg);
}
