* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}
html {
  font-size: 14px;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  min-width: 400px;
  display: grid;
  grid-template-areas:
    "header"
    "contenido";

  grid-template-rows: auto auto;
}

.etiqueta {
  margin: 0.2rem;
  padding: 0.2rem 0.5rem;
  display: inline-block;
  list-style: none;
  background-color: rgb(172, 191, 255);
  color: rgb(86, 111, 167);
  border-radius: 5px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.etiqueta:active {
  background-color: rgb(138, 154, 206);
}

h2.preguntaID {
  color: rgb(12, 42, 122);
}

h2.preguntaID:hover {
  color: rgb(47, 47, 252);
}
.cabecera {
  position: static;
  top: 0;
  display: grid;
  grid-template-areas:
    "logo login"
    "buscador buscador";
  grid-template-rows: auto auto;
  min-height: 100px;
}
header {
  grid-area: header;
}
main {
  grid-area: contenido;
}
